<div class="l-container u-padding--none u-margin--tp-sm">
  <div class="row">
    <div class="u-content--center">
      <div class="c-card u-text--centered">
        <div class="c-card__content u-padding--none u-border--none">
          <div class="c-card__header u-border--bottom">
            <!----><img alt="" class="u-image u-image--150 u-image--rounded"
              src="https://randomuser.me/api/portraits/women/20.jpg">
          </div>
          <!---->
          <div>
            <h3 class="c-card__subtitle u-margin--none">Hi, My name is</h3>
            <!---->
            <h2 class="c-card__title u-text--lg">Maëlia&nbsp;Maëlia</h2>
          </div>

          <ul class="c-tabs l-row u-grid-justify--center u-padding--md">
            <li class="c-tabs__list active"><a class="c-tabs__link u-padding--sm"><img class="u-image--24"
                  src="./assets/svg/misc/user.svg"></a></li>
            <li class="c-tabs__list"><a class="c-tabs__link u-padding--sm"><img class="u-image--24"
                  src="./assets/svg/misc/email.svg"></a></li>
            <li class="c-tabs__list"><a class="c-tabs__link u-padding--sm"><img class="u-image--24"
                  src="./assets/svg/misc/calendar.svg"></a></li>
            <li class="c-tabs__list"><a class="c-tabs__link u-padding--sm"><img class="u-image--24"
                  src="./assets/svg/misc/map-location.svg"></a></li>
            <li class="c-tabs__list"><a class="c-tabs__link u-padding--sm"><img class="u-image--24"
                  src="./assets/svg/misc/call.svg"></a></li>
            <li class="c-tabs__list"><a class="c-tabs__link u-padding--sm"><img class="u-image--24"
                  src="./assets/svg/misc/locked.svg"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
